*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:#fff4e2;
}
div{
    padding: 20px;
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 30vw;
}
h1{
    font-size:5vw;
    margin-bottom: 30px;
}
button{
    font-weight: 600;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #fd7e40;
    outline: none;
    border: 1px solid  #fd7e40;
    border-radius: 5px;
    cursor: pointer;
}

#dot1{
    animation: dot1 2s infinite;
}
#dot2{
    animation: dot2 2s infinite;
}
#dot3{
    animation: dot3 2s infinite;
}
/* KEY frames */
@keyframes dot1{
    0%{
        color: black;
    }
    33%{
        color: #fff4e2;
    }
}
@keyframes dot2{
    0%{
        color: black;
    }
    33%{
        color: black;
    }
    66%{
        color: #fff4e2;
    }
}
@keyframes dot3{
    0%{
        color: black;
    }
    33%{
        color: black;
    }
    66%{
        color: black;
    }
    90%{
        color: #fff4e2;
    }
}



/* MEDIA QUERIES */
@media all and (min-width: 400px) and (max-width: 500px){
    h1{
        font-size: 20px;
    }
}
@media all and (max-width: 400px){
    h1{
        font-size: 18px;
    }
}